body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #1d1f21, #3b3e42);
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  color: #00c3ff;
  text-align: center;
  font-size: 2.5em;
}
h2, h3{
  color: #00aaff;
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
}
nav{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
nav a {
  color:#ffffff;
  text-decoration: none;
  background: #005b7f;
  padding: 8px 14px;
  border-radius: 5px;
}
nav a:hover{
  background: #00aaff;
}
img{
  width: 200px;
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 5px;
}
ul{
  list-style-type: square;
}
ol{
  list-style-type: decimal-leading-zero;
}
a {
  color: #00c3ff;
}
a:hover {
  color: #0077aa;
}
.topo {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}